@page "/sb"
<h2>Simple Binding Value - "One Way Binding"</h2>
<ul>
    <li>
        <div class="form-group">
            <span>This is the parent control, try clicking the checkbox - the second checkbox will also change because of the Value parameter</span>
            <input id="parent " type="checkbox" bind="@ParentValue" />
        </div>
        <pre>
        @("<input id=parent type=checkbox bind=@ParentValue />")
        </pre>
    </li>
    <li>
        <div class="form-group">
                <span>This is the child control, try clicking the checkbox - it will not update the parent Value</span>
                <CheckBox3 Value="@ParentValue" />
        </div>
        <pre>
        @(" <CheckBox3 Value=\"@ParentValue\" />")
        </pre>
        <span>The CheckBox3 implementation : </span>
        <pre>
        @("<input type=\"checkbox\" bind=\"@Value\" />")
        @("@functions {")
        @("  [Parameter] protected bool Value { get; set; }")
        @("}")
        </pre>
    </li>
    <li>
        <div class="form-group">
            <span>Now click the button to refresh this page - nothing will change except the Last Refresh time, because the Value parameter is a one-way binding</span>
            <button id="refresh" onclick="@Refresh" class="btn btn-standard">Refresh</button>
        </div>
        <pre>
        @("<button id=\"refresh\" onclick=\"@Refresh\" class=\"btn btn-standard\">Refresh</button>")
        </pre>
    </li>
    <li class="form-group">
        <span>Last refresh @DateTime.Now</span>
    </li>
</ul>
<span>Page implementation:</span>
<pre>
@("@functions {")
@("bool ParentValue;")
@("void Refresh(UIMouseEventArgs args) => StateHasChanged();")
@("}")
</pre>

@functions
{
bool ParentValue;
void Refresh(UIMouseEventArgs args) => StateHasChanged();
}
