@page "/sbc"
<h2>Simple Binding With Callback - "Two Way Binding"</h2>
<ul>
    <li>
        <div class="form-group">
            <span>This is the parent control, try clicking the checkbox - the second checkbox will also change because of the Value parameter</span>
            <input id="parent " type="checkbox" bind="@ParentValue" />
        </div>
        <pre>
        @("<input id=parent type=checkbox bind=@ParentValue />")
        </pre>
    </li>
    <li>
        <div class="form-group">
            <span>This is the child control, try clicking the checkbox - it <i>will update the parent Value</i></span>
            <CheckBox4 Value="@ParentValue" Callback="@UpdateValue" />
        </div>
        <pre>
        @(" <CheckBox4 Value=\"@ParentValue\" />")
        </pre>
        <span>The CheckBox4 implementation : </span><br />
        <span>Here we bind to a local proxy value so we can fire the Callback when the local value changes</span>
        <pre>
        @("<input type=\"checkbox\" bind=\"")<b>@("@LocalValue")</b>@("\" />")
        @("@functions {")
        @("[Parameter] protected bool Value { get; set; }")
        <b>@("bool LocalValue { get { return Value; } set { Callback?.Invoke(value); } }")
        @("[Parameter] protected Action<bool> Callback { get; set; }")</b>
        @("}")
        </pre>
    </li>
    <li>
        <div class="form-group">
            <span>Now click the button to refresh this page - nothing will change except the Last Refresh time, because we are propogating the value back from Child to Parent and refreshing the Parent</span>
            <button id="refresh" onclick="@Refresh" class="btn btn-standard">Refresh</button>
        </div>
        <pre>
        @("<button id=\"refresh\" onclick=\"@Refresh\" class=\"btn btn-standard\">Refresh</button>")
        </pre>
    </li>
    <li class="form-group">
        <span>Last refresh @DateTime.Now</span>
    </li>
</ul>
<span>Page implementation:</span>
<pre>
@("@functions {")
@("bool ParentValue;")
@("void Refresh(UIMouseEventArgs args) => StateHasChanged();")
<b>@("void UpdateValue(bool value) { ParentValue = value; Refresh(null); })")</b>
@("}")
</pre>

@functions
{
  bool ParentValue;
  void Refresh(UIMouseEventArgs args) => StateHasChanged();
  void UpdateValue(bool value) { ParentValue = value; Refresh(null); }
}
