@page "/vbc"
<h2>Value Binding With Callback - "Two Way Value Binding - No Refresh"</h2>
<ul>
    <li>
        <div class="form-group">
            <span>This is the parent control, try clicking the checkbox - the second checkbox will also change because of the Value parameter</span>
            <input id="parent " type="checkbox" bind="@ParentValue" />
        </div>
        <pre>
        @("<input id=parent type=checkbox bind=@ParentValue />")
        </pre>
    </li>
    <li>
        <div class="form-group">
            <span>This is the child control, try clicking the checkbox - it will not update the parent Value</span>
            <CheckBox6 bind-Value="@ParentValue" />
        </div>
        <pre>
        @(" <CheckBox6 bind-Value=\"@ParentValue\" />")
        </pre>
        <span>The CheckBox6 implementation : </span><br />
        <span>Here we bind to a local proxy value so we can fire the ValueChanged event when the local value changes</span>
        <pre>
        @("<input type=\"checkbox\" bind=\"")<b>@("@LocalValue")</b>@("\" />")
        @("@functions {")
        <b>@("  bool LocalValue { get { return Value; } set { ValueChanged?.Invoke(value); } })")</b>
        @("  [Parameter] protected bool Value { get; set; }")
        @("  [Parameter] protected Action<bool> ValueChanged { get; set; })")
        @("}")
        </pre>
    </li>
    <li>
        <div class="form-group">
            <span>Now click the button to refresh this page - the <b>Parent</b> checkbox will revert back to match the Child's value<br />
            because we are propogating the value change from child to parent but there is no automatic Refresh<br />
            <b>The value has propogated back from Child to Parent, but the parent has not refreshed.</b></span>
            <button id="refresh" onclick="@Refresh" class="btn btn-standard">Refresh</button>
        </div>
        <pre>
        @("<button id=\"refresh\" onclick=\"@Refresh\" class=\"btn btn-standard\">Refresh</button>")
        </pre>
    </li>
    <li class="form-group">
        <span>Last refresh @DateTime.Now</span>
    </li>
</ul>
<span>Page implementation:</span>
<pre>
@("@functions {")
@("bool ParentValue;")
@("void Refresh(UIMouseEventArgs args) => StateHasChanged();")
@("}")
</pre>

@functions
{
bool ParentValue;
void Refresh(UIMouseEventArgs args) => StateHasChanged();
}
